.app-container {
display: flex;

gap: 5px;

}

.column11{
   height: 30rem;
   width:30rem; 
    margin-left:35%; 
    margin-right:50%;
    padding-top:70px;
}
table {
border-collapse: collapse;
height: 15rem;
width:35rem; 
margin-left: 32%;

}
th,
td {
border: 1px solid #80886d;
text-align: center;
padding: 10px;
font-size: 20px;}

th {
background-color: rgb(7, 19, 16);
font-size: 25px;
text-align: center;
}
td {
background-color: rgb(27, 39, 31);
margin-left: auto;
margin-right: auto;
}

form {
display: flex;
gap: 5px;
}

form td:last-child {
display: flex;
justify-content: center;
}

form * {
font-size: 60px;
}