@import
url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Oxygen, sans-serif;
  margin: 2rem;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(12rem,16rem));
  gap: 2rem;
  justify-content: center;
}

.card{
  overflow:hidden;
  box-shadow: rgb(29, 87, 67);
  border: radius 25px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition:transform 200ms ease-in;



}

.image{
height: 12rem;
width: 100%;
object-fit:cover;
}

.title{
  padding: 1rem;
}