
body{
   background-image: url(../img/back.png), url(../img/gradient.png);
   background-repeat: no-repeat, no-repeat;
   width: 1000px;
   height: 1000px;
    background-color: #637660;
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  color: antiquewhite;
 
}
.header{
    width: 160%;
   height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/back.png);
    padding: 0 0%;

}


.logo{
    font-size: 2rem;
    color:antiquewhite;
    font-weight: bold;
    font-family: 'Annie Use Your Telescope';font-size: 22px;
    width: 150rem;

}

.header ul {
    list-style: none;
    margin: 0;
    padding: 5rem;
    display: flex;
    align-items: baseline;
    
}
.header li {
    margin-left: 0rem;
   padding-right: 2rem;
    
}

.header a{
    text-decoration: none;
    font-size: 1.5rem;
    color:antiquewhite;
    padding: 2rem;
    padding-top: 1%;
    padding-right: 7%;
   
}

.header a:hover,
.header a:active,
.header a.active {
    color:cadetblue
    }

.badge {
    background-color: blue;
    color: aqua;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;

}

