
body{
   background-image: url(../img/back.png), url(../img/gradient.png);

  
background-color: #637660;
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  color: antiquewhite;
 
}
.header{


    display: flex;
   padding-top: 9rem; 
height: 20rem;
    background-image: url(../img/back.png);


}


.logo{
    font-size: 2rem;
    color:antiquewhite;
    font-weight: bold;
    font-family: 'Annie Use Your Telescope';font-size: 22px;
    width: 150rem;

}


.header a{
    text-decoration: none;
    font-size: 1.5rem;
    color:antiquewhite;
  

   
}

.header a:hover,
.header a:active,
.header a.active {
    color:cadetblue
    }



