
body{


  font-family: "Sofia", sans-serif;
  font-size: 30px;
  color: antiquewhite;
 padding-top: 4rem;

}
.header{


    display: flex;
   padding-top: 8rem; 

height: 25rem;
    background-image: url(../img/lf1.jpg);


}


.logo{
    font-size: 2rem;
    color:antiquewhite;
    font-weight: bold;
    font-family: 'Annie Use Your Telescope';font-size: 22px;
    width: 150rem;

}


.header a{
    text-decoration: none;
    font-size: 1.5rem;
    color:antiquewhite;
  

   
}

.header a:hover,
.header a:active,
.header a.active {
    color:cadetblue
    }



